{{#partial "contenido"}}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Metodo</th>
                <th scope="col">recurso</th>
                <th scope="col">parametros</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>GET</td>
                <td>/api/sugerencias</td>
                <td>
                    <div>
                       
                    </div>
                    <div>
                      
                    </div>
                    <div>
                      
                    </div>
                </td>
            </tr>
           
            </tbody>
        </table>
    </div>

{{/partial}}

{{>layout.hbs}}
