
   
        <div class="container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                
 						 <form method="post" action="/ABMCBUAPI/baja">
   
   			
    
    
                
 						
   
   				
                     
                	
                
                
                   

                   
                        <div class="form-group row">
   						 <label for="staticEmail" class="col-sm-2 col-form-label">Nro DOC</label>
   			 		<div class="col-sm-10">
     				 <input name="nrodoc" type="text" class="form-control" placeholder="" value=""/>
   					 </div>
  			</div>
  			
                <div class="form-group row">
                         <label for="staticEmail" class="col-sm-2 col-form-label">Banco</label>
                          <div class="col-sm-10">
                         <select class="form-control" id="banco" name="banco" >
                         <option value="OPBK">OpenBank</option>
                        <option value="NRJX">Naranja X</option>
                        <option value="GLCA">Galicia</option>
                        <option value="BSTN">ICBC</option>
                        <option value="DSOL">Banco de Sol</option>
                        <option value="BBNK">BruBank</option>
                        <option value="UALA">UALA</option>
                        <option value="RIOP">Santander</option>
                        <option value="SPRE">Superville</option>
                        <option value="SDMR">Patagonia</option>
                       </select>
                           </div>
                             </div>
                            <div class="form-group row">
                        	 <label for="staticEmail" class="col-sm-2 col-form-label">CBU</label>
                        	 <div class="col-sm-10">
                        	<input name="cbu" type="text" class="form-control" placeholder="" value=""/>
                        </div>
                         </div>
                          <div class="form-group row">
                        	<label for="staticEmail" class="col-sm-2 col-form-label">NroCuenta</label>
                        	 <div class="col-sm-10">
                        	<input name="nrocuenta" type="text" class="form-control" placeholder="" value=""/>
                        </div>
                         </div>
                        
                       
                      
                        	
                        	
                
                     
                     
                
 						 <div class="form-group">
                        
                            <input type="submit"  class="btn btn-success" class="btnSubmit" value="BAJA"/>
                             
                            
                        </div>
   
                     
                    
                 	
                
                 
                        
                       
                        
                        
                     </form>
                    
                   
                </div>
            </div>
        </div>
    
         
                 
                    
                   
    



