{{#partial "contenido"}}

    <div class="alert alert-danger" role="alert">
        Ha ingresado un nombre de usuario o una contraseña invalida, por favor verifique los campos
        ingresados.
    </div>

    <button type="button" class="btn btn-primary" button onclick="location.href='/'">Volver</button>

{{/partial}}
{{>layout.hbs}}
