{{#partial "contenido"}}

    <div class="alert alert-danger" role="alert">
        No posees los permisos adecuados para editar esta publicacion
    </div>

    <button type="button" class="btn btn-primary" button onclick="location.href='/'">Volver</button>

{{/partial}}
{{>layout.hbs}}
