{{#partial "contenido"}}
   
    <div style="text-align: center; margin-top: 20px;">
   <div class="titulo">MENU GALERIA</div>
    </div>
   
        <div class="container">
            
                <div class="col-md-20 login-form-1">
                    <h3></h3>
                    <form method="get" action="/mortalkombat">
                       
                        <div class="form-group">
                          
                            <button   type="submit" class="btn btn-primary btn-lg btn-block">MORTAL KOMBAT</button >
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                    
                      <form method="get" action="/playstation">
                       
                        <div class="form-group">
                           
                            <button  type="submit" class="btn btn-primary btn-lg btn-block">PLAYSTATION</button >
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                    
                      <form method="get" action="/darksouls">
                       
                        <div class="form-group">
                          
                            <button  type="submit" class="btn btn-primary btn-lg btn-block">DARKSOULS SAGA</button >
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                    
                    
                    <form method="get" action="/godofwar">
                       
                        <div class="form-group">
                          
                            <button  type="submit" class="btn btn-primary btn-lg btn-block">GOD OF WAR</button >
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
           
        </div>
   
{{/partial}}

{{>layout.hbs}}
