{{#partial "contenido"}}
  


    <h1>PLAYSTATION</h1>

     <table  class=mi-tabla border="0" align="center">
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps1Frente.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps1Frente.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps1TapaAbierta.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps1TapaAbierta.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
       
       
       
       <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps2SimFrente.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2SimFrente.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps2SlimTapaAbierta.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2SlimTapaAbierta.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps2FatAcostada.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2FatAcostada.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps2FatDePie.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2FatDePie.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps3.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps3.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps3DeLado.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps3DeLado.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps4.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps4.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps4Frente.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps4Frente.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps5DePie.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps5DePie.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps5Acostada.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps5Acostada.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
        
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('PsVita.jpg', 'Descripción de la Imagen 1')">
            <img src="PsVita.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('PsVitaFunda.jpg', 'Descripción de la Imagen 1')">
            <img src="PsVitaFunda.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
        
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('ControlPS1.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPS1.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('ControlPs2.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPs2.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
             
             </tr>
     <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('ControlPs3.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPs3.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('ControPs4.jpg', 'Descripción de la Imagen 1')">
            <img src="ControPs4.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
     
             
             </td>
            
        </tr>
        
         <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('ControlPPs5.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPPs5.jpg" alt="Imagen 1" width="500" height="500">
            <figcaption>Descripción de la Imagen 1</figcaption>
           
             
             </td>
               
              
            
        </tr>
        
        
    </table>
    
    <table class=mi-tabla border="0" align="center">
        <tr>
            <td>
            <a href="#" onclick="ampliarImagen('consolas.jpg', 'Descripción de la Imagen 1')">
            <img src="consolas.jpg" alt="Imagen 1" width="2000" height="500">
              <figcaption>Descripción de la Imagen 1</figcaption>
            </td>
          
            
        </tr>
        
        
        
    </table>
    
    <div class="imagen-ampliada" onclick="cerrarImagen()">
        <img id="imagenAmpliada" src="" alt="Imagen Ampliada">
    </div>

    <script>
        function ampliarImagen(src, descripcion) {
            var imagenAmpliada = document.getElementById('imagenAmpliada');
            imagenAmpliada.src = src;
            imagenAmpliada.alt = descripcion;
            document.querySelector('.imagen-ampliada').style.display = 'flex';
        }

        function cerrarImagen() {
            document.querySelector('.imagen-ampliada').style.display = 'none';
        }
    </script>


  
{{/partial}}
{{>layout.hbs}}

