{{#partial "contenido"}}
  
<div class="titulo">PLAYSTATION</div>
<div class=contenido-principal">

   

     <table  class=mi-tabla border="0" align="center">
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps1Frente.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps1Frente.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>PS1 FAT SCPH-9002 PAL</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps1TapaAbierta.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps1TapaAbierta.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Release 9 de septiembre de 1995</figcaption>
     
             
             </td>
            
        </tr>
       
       
       
       <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps2SimFrente.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2SimFrente.jpg"  loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>PS2 Sim SCPH-90001 NTSC</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps2SlimTapaAbierta.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2SlimTapaAbierta.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Release 25 de noviembre de 2004</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps2FatAcostada.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2FatAcostada.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>PS2 FAT SCPH-39001 NTSC </figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps2FatDePie.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps2FatDePie.jpg"  loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Release 26 de octubre de 2000</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps3.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps3.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>PS3 Slim CECH-3001A</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps3DeLado.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps3DeLado.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Release 18 de agosto de 2009</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps4.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps4.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>PS4 Slim CUH-2215B</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps4Frente.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps4Frente.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Release El 7 de septiembre de 2016</figcaption>
     
             
             </td>
            
        </tr>
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('Ps5DePie.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps5DePie.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>PS5 FAT CFI-11015A</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('Ps5Acostada.jpg', 'Descripción de la Imagen 1')">
            <img src="Ps5Acostada.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Release 12 de noviembre de 2020</figcaption>
     
             
             </td>
            
        </tr>
        
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('PsVita.jpg', 'Descripción de la Imagen 1')">
            <img src="PsVita.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>PS VITA FAT PCH-1010</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('PsVitaFunda.jpg', 'Descripción de la Imagen 1')">
            <img src="PsVitaFunda.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Release 15 de febrero de 2012</figcaption>
     
             
             </td>
            
        </tr>
        
        
        
        <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('ControlPS1.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPS1.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Control PS1</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('ControlPs2.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPs2.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Control PS2</figcaption>
     
             
             </td>
             
             </tr>
     <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('ControlPs3.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPs3.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Control PS3</figcaption>
           
             
             </td>
               
                <td>
     
            <a href="#" onclick="ampliarImagen('ControPs4.jpg', 'Descripción de la Imagen 1')">
            <img src="ControPs4.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Control PS4</figcaption>
     
             
             </td>
            
        </tr>
        
         <tr>
    
            <td>
            <a href="#" onclick="ampliarImagen('ControlPPs5.jpg', 'Descripción de la Imagen 1')">
            <img src="ControlPPs5.jpg" loading="lazy" alt="Imagen 1" width="500" height="500">
            <figcaption>Control PS5</figcaption>
           
             
             </td>
               
              
            
        </tr>
        
        
    </table>
    
    <table class=mi-tabla border="0" align="center">
        <tr>
            <td>
            <a href="#" onclick="ampliarImagen('consolas.jpg', 'Descripción de la Imagen 1')">
            <img src="consolas.jpg" loading="lazy" alt="Imagen 1" width="2000" height="500">
            
            </td>
          
            
        </tr>
        
         <tr>
            <td>
            <a href="#" onclick="ampliarImagen('consolas2.jpg', 'Descripción de la Imagen 1')">
            <img src="consolas2.jpg" loading="lazy" alt="Imagen 1" width="2000" height="500">
              <figcaption>Consolas</figcaption>
            </td>
          
            
        </tr>
        
    </table>
    
      </div>
    
   
    
    <div class="imagen-ampliada" onclick="cerrarImagen()">
        <img id="imagenAmpliada" src="" alt="Imagen Ampliada">
    </div>

   <script>
    var scrollPosition;

    function ampliarImagen(src, descripcion) {
        // Guardar la posición actual del scroll
        scrollPosition = window.scrollY;

        var imagenAmpliada = document.getElementById('imagenAmpliada');
        imagenAmpliada.src = src;
        imagenAmpliada.alt = descripcion;
        document.querySelector('.imagen-ampliada').style.display = 'flex';

        // Deshabilitar el scroll de la página mientras la imagen está ampliada
        document.body.style.overflow = 'hidden';
    }

    function cerrarImagen() {
        // Restaurar la posición del scroll
        window.scrollTo(0, scrollPosition);

        document.querySelector('.imagen-ampliada').style.display = 'none';

        // Habilitar nuevamente el scroll de la página
        document.body.style.overflow = 'visible';
    }
</script>


  
{{/partial}}
{{>layout.hbs}}

